<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes Home</title>
</head>
<body>
    <body>
        <h1>My Recipes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}">123</td>
            <td th:text="${recipe.description}">description</td>
        </tr>
            </table>
    </body>
</html>